.home {
  display: flex;
  justify-content: flex-end;
  
}


.chart-card {
  width: 500px;
  height: 400px;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.button-group {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 233px;
  height: 233px;
  
}
