.home {
  display: flex;
  justify-content: center;
}

.chart-card {
  width: 500px;
  height: 400px;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
