.unemployment-and-alcohol {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.chart-card {
  width: 900px;
  height: 400px;
  margin: 10px;
  padding: 10px;
  background-color: #f0f0f0;
}

.button-group {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.button-group button {
  margin-right: 10px;
}

.chart-card .select-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.chart-card .select-container .ant-select {
  flex: 1;
  margin-right: 10px;
}

.chart-card .selected-value {
  display: flex;
  justify-content: center;
}

.chart-card {
  width: 1000px;
  height: 500px;
  margin: 10px;
  padding: 10px;
  background-color: #f0f0f0;
}
